<% action = params[:action] == "done" ? :done : nil %>
<ul id="categories">
<% if @category %>
  <li><%= link_to "全部", [ action, :tasks ] %></li>
<% else %>
  <li class="selected">全部</li>
<% end %>
<% current_user.categories.each do |c| %>
  <% if @category != c %>
    <li><%= link_to c.name, [ action, c, :tasks ] %></li>
  <% else %>
    <li class="selected"><%= c.name %></li>
  <% end %>
<% end %>
</ul>
