<ul class="menu_items">
  <li><%= link_to_unless params[:action] == "index", "タスクの一覧", :tasks %></li>
  <li><%= link_to_unless params[:action] == "new", "タスクの新規登録", [ :new, :task ] %></li>
  <li><%= link_to "カテゴリーの管理", :categories %></li>
</ul>
