<ul class="navigation">
<% if params[:action] == "index" %>
  <li class="selected">未完了タスク</li>
<% else %>
  <li><%= link_to "未完了タスク", [ @category, :tasks ] %></li>
<% end %>
<% if params[:action] == "done" %>
  <li class="selected">完了したタスク</li>
<% else %>
  <li><%= link_to "完了したタスク", [ :done, @category, :tasks ] %></li>
<% end %>
</ul>
