<ul class="radio_buttons">
  <li>
    <%= form.radio_button(:category_id, '',
      :checked => @task.category_id.nil?) %>
    <%= form.label(:category_id, "----", :value => '') %>
  </li>
  <% Category.all.each do |c| %>
    <li>
      <%= form.radio_button(:category_id, c.id) %>
      <%= form.label(:category_id, c.name, :value => c.id) %>
    </li>
  <% end %>
</ul>
