<% unless object.errors.empty? %>
  <p>入力に誤りがあります。</p>
  <ul class="error_messages">
  <% attribute_names.each do |attribute| %>
    <% object.errors[attribute].each do |message| %>
      <li><%= object.errors.full_message(attribute, message) %></li>
    <% end %>
  <% end %>
  </ul>
<% end %>
