<ul class="user_menu_items">
  <li><%= link_to_unless_current "アカウント", :account %></li>
  <li>
    <%= link_to "ログアウト", :session, :method => :delete,
      :confirm => '本当にログアウトしますか？' %>
  </li>
</ul>