table.categories {
  width: 560px;
  margin: 5px auto;
  background-color: #eee;
  border-collapse: collapse;
  border-spacing: 0;
}

table.categories tr {
  border: solid 1px #ccc;
}

table.categories td {
  padding: 5px;
}

table.categories col.name {
  width: 320px;
  background-color: #ddd;
}
