body {
  background-color: #fff;
}

div#wrapper {
  width: 600px;
  margin: 10px auto;
  background-color: #fff;
}

div#header {
  background-color: #f2c11c;
  border-bottom: solid 24px #f5d421;
}

div#footer {
  background-color: #555555;
  color: #ccc;
  padding: 15px 5px;
  text-align: center;
  font-size: 90%;
}

div#contents {
  background-color: #fff;
  color: #000;
  padding: 5px;
  border-left: solid 20px #f5f5f5;
  border-right: solid 20px #f5f5f5;
  
  h1 {
    font-weight: normal;
    color: #444;
    margin: 5px ;
    font-size: 180%;
  }
}
