ul.user_menu_items, ul.menu_items {
  list-style: none;
  color: #444;
  
  li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 5px;
    
    a {
      font-weight: normal;
      color: #444;
    }
  }
}

ul.user_menu_items {
  float: right;
  margin-top: 54px;
  padding: 10px;
  color: #444;
}

ul.menu_items {
  border: dotted #ccc 1px;
  margin: 0 10px;
  padding: 2px 5px;
}
