ul.menu_items {
  width: 540px;
  list-style: none;
  margin: 15px auto 5px;
  padding: 10px;
  border: dotted 1px #ccc;
}

ul.menu_items li {
  display: inline-block;
  padding: 5px;
  font-weight: bold;
}

ul.menu_items li a {
  font-weight: normal;
}

ul.user_menu_items {
  list-style: none;
  text-align: right;
  margin: 0 15px;
  
  li {
    display: inline-block;
    padding: 5px;
  }
}
