div.pagination {
  text-align: center;
  padding: 5px;

  a {
    background-color: #666;
    color: #fff;
    padding: 5px;
  }

  em {
    background-color: #ccc;
    font-weight: bold;
    font-style: normal;
    padding: 5px;
  }
  
  span.disabled {
    background-color: #ccc;
    padding: 5px;
  }
}
