<h1>カテゴリーの管理</h1>

<%= render 'menu' %>

<table class="categories">
  <col class="name" />
  <col class="links" />
  <% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= links_for(category) %></td>
  </tr>
  <% end %>
</table>
